table {
    clear: both;
}
th {
    height: 50px;
    width: 70px;
    background-color:  orange;
}
td {
    text-align: center;
    height: 50px;
    width: 70px;
    background-color: #FFFDC5;  
}
input {
    height: 50px;
    width: 70px;
    border: none;
    background-color:  orange;
    font-size: 30px;
}
.year_mon{
    font-size: 25px;
}
.colToday{
    background-color: #FFA07A;
}
